* {
    margin:  0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Courier New', Courier, monospace;
}

section {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    scroll-snap-align: start;
}

.container {
    scroll-snap-type: y mandatory;
    overflow-y: scroll;
    height: 100vh;
}

h1 {
    color: white;
    text-shadow: 1px 1px 4px black;
}

.one {
    background-color: aquamarine;   
}

.two {
    background-color: yellow;   
}

.three {
    background-color: pink;   
}

.four {
    background-color: black;  
}
