* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color: black;
}

.card-container {
    width: 100%;
    height: 500px;
    display: flex;
    justify-content: center;
    align-items: stretch;
    gap: 1.25rem;
    transition: all 0.4s;
}

.expandable-card {
    flex: 0.1;
    height: 100%;
    gap: 1;
    transition: all 0.4s;
}

.expandable-card img {
    max-width: 100%;
    height: 100%;
    display: block;
    border-radius: 18px;
    object-fit: cover;
    cursor: pointer;
}

.expandable-card:nth-child(odd) {
    translate: 0 -20px;
}

.expandable-card:nth-child(even) {
    translate: 0 20px;
}

.card-container .expandable-card:not(:hover) {
    filter: grayscale(100%);
}

.expandable-card:hover {
    flex: 0.2;
    gap: 0;
    
}